.modal_registro{
  .title{
    font-size: 3rem;
    color: $gris-oscuro;
  }
  .subtitle{
    font-size: 1.2rem;
  }

  form {

    label{
      text-align: left;
      font-size: 1rem;
    }

    .submit {
      margin-top: 16px;
      margin-bottom: 16px;
      width: 50%;
      border-radius: 4px;
      background-color: $primary;
      color: $blanco;
      font-weight: bold;
      font-size: 1rem;
      padding: 0.7em 1em;
    }

    .boton-centro {
      float: none;
    }

    @media screen and (max-width: 399px) {
      .submit {
        width: 100%;
      }
    }
  }

}
