<ion-view view-title="crm">


	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-refresh" ng-click="aplicarFiltros(true,'refresh');"></button>
		<button class="button button-icon button-clear ion-plus-round" ng-click="nuevo();"></button>
	</ion-nav-buttons>


	<div class="bar bar-subheader item-input-inset x-searchbar">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" placeholder="Buscar" ng-model="dr.filter" ng-change="aplicarFiltros(true,'search')" />
		</label>
		<i class="icon ion-backspace-outline x-clear" ng-click="dr.filter=''; aplicarFiltros(true,'search');"></i>
	</div>


	<ion-content class="has-header">
		<br/>
		<br/>

		<ion-refresher on-refresh="aplicarFiltros(true,'pull')" pulling-text="Refrescar" refreshing-text="Refrescando!" refreshing-icon="ion-loading-c">
		</ion-refresher>

		<div class="list list-icons">

			<a ng-repeat="r in page.rows" class="item item-icon item-icon-left item-icon-right" ng-click="editar(r)">
				<i class="icon fa fa-user" aria-hidden="true"></i> {{r.user_name}}
				<p>{{r.login}}</p>
				<p>{{r.user_type}}</p>
				<!--span class="badge badge-assertive">0</span-->
				<!--i class="icon ion-chevron-right"></i-->
			</a>
		</div>

		<div ng-if="page.last && page.rows.length==0" class="text-center">
			No se encontraron datos
		</div>

		<!--ul class="list">
			<a class="item" ng-repeat="thread in data track by $index" ng-href="{{thread.url}}" target="_blank">
				<li class="row">
					<div class="col col-80">
						<span class="row responsive-sm item-text-wrap">{{thread.title}}</span>
						<span class="row responsive-sm">{{thread.desc}}</span>
					</div>
					<div class="col">
						<span class="item-note badge badge-assertive">{{thread.replies}}</span>
					</div>
				</li>
			</a>
		</ul-->

		<ion-infinite-scroll ng-if="!page.last" on-infinite="aplicarFiltros(false,'scroll')" class="infinite-scroll">
		</ion-infinite-scroll>

	</ion-content>
</ion-view>
