@import "__init__.scss";
.container{
    width: 640px !important;

    .xgracias {
        font-size: 18px;
        font-weight: bold;

        a {
            color: #1d9496;
        }
    }

    .xnum-pedido {
        background-color: #000000;
        color: white;
        max-width: 180px;
        margin: auto;
        padding: 16px;
        font-size: 30px;
        line-height: 1;
    }

    .xtitulo {
        color: black;
        font-weight: bold;
        font-size: 18px;
        padding: 5px 0;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
    }

    .xlabel {
        font-weight: bold;
    }

    .padding-none {
        padding: 0px !important;
    }
}
