@import "__init__.scss";
.container{
    width: 640px !important;

    .xnombre {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 12px;
        color: #000000;
    }

    .xgracias {
        font-size: 18px;

        a {
            color: #000000;
        }
    }


    .padding-none {
        padding: 0px !important;
    }
}
