.footer{
    background-color: #000000;
    width: 640px;


    p {
        padding: 5px;
        margin-bottom: 0px !important;
    }
    .xlabel {
        color: #FFFFFF;
        font-size: 14px;
    }
}
