<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button>
			</ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left" expose-aside-when="large" class="no-print">
		<ion-header-bar class="bar-stable menu-left">
			<div class="title">
				<!-- <img src="app/logo.png" alt="" width="190" /> -->
			</div>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<!-- <div class="item item-divider">
					Contenidos
				</div>
				<a class="item" menu-close ui-sref="app.EavRuntime_EavMenuView">
					Contenidos
				</a> -->
				<div class="item item-divider" ng-if="si.user_type=='architect'">
					Contenidos
				</div>
				<a class="item" menu-close ui-sref="app.EavDesign.EavTypeL" ng-if="si.user_type=='architect'">
					Tipos de Datos
				</a>
				<a class="item" menu-close ui-sref="app.EavDesign_EavMenuL" ng-if="si.user_type=='architect'">
					Diseño de Menu
				</a>
				<div class="item item-divider"  ng-if="hasModule('tienda')">
					Tienda
				</div>
				<a class="item" menu-close ui-sref="app.Importacion">
					Importación
				</a>
				<a class="item" menu-close ui-sref="app.Tienda_PedidosL"  ng-if="hasModule('tienda')">
					Pedidos
				</a>

				<div class="item item-divider" ng-if="si.user_type=='architect' || si.user_type=='admin'">
					Administración
				</div>
				<a class="item" menu-close ui-sref="app.Admin_UsuarioL" ng-if="si.user_type=='architect' || si.user_type=='admin'">
					Usuarios
				</a>
				<!-- <a class="item" menu-close ui-sref="app.Admin_GrupoL" ng-if="si.user_type=='architect' || si.user_type=='admin'">
					Grupos
				</a> -->
			</ion-list>
			<!-- <br/>
			<center>
				<p class="copyright">
					Todos los derechos reservados <br/>
					{{year}}
				</p>
			</center>
			<br/>
			<br/> -->
		</ion-content>

		<div style="position:absolute;width:100%;bottom:0;z-index:1000;">
			<ion-list>
				<a href="" class="item" style="	background-color: #000000;color: #ffffff;font-weight: bold;" menu-close ng-click="logout();"> Cerrar Sesión</a>
			</ion-list>
		</div>
	</ion-side-menu>
</ion-side-menus>
