.x-row {
				margin: 0 auto;
				width: 100%;
				max-width: 1280px
}
.x-row::after, .x-row::before {
				content: ' ';
				display: table
}
.x-row::after {
				clear: both
}
@media (min-width:0px) {
				.x-row.flex-on-small {
								display: -ms-flexbox;
								display: flex
				}
				.x-row.block-on-small {
								display: block
				}
				.x-row.stretch-on-small {
								-ms-flex-align: stretch;
								-ms-grid-row-align: stretch;
								align-items: stretch
				}
				.x-row.top-on-small {
								-ms-flex-align: start;
								-ms-grid-row-align: flex-start;
								align-items: flex-start
				}
				.x-row.center-on-small {
								-ms-flex-align: center;
								-ms-grid-row-align: center;
								align-items: center
				}
				.x-row.bottom-on-small {
								-ms-flex-align: end;
								-ms-grid-row-align: flex-end;
								align-items: flex-end
				}
				.x-row.ltr-on-small {
								-ms-flex-direction: row;
								flex-direction: row
				}
				.x-row.rtl-on-small {
								-ms-flex-direction: row-reverse;
								flex-direction: row-reverse
				}
}
@media (min-width:640px) {
				.x-row.flex-on-medium {
								display: -ms-flexbox;
								display: flex
				}
				.x-row.block-on-medium {
								display: block
				}
				.x-row.stretch-on-medium {
								-ms-flex-align: stretch;
								-ms-grid-row-align: stretch;
								align-items: stretch
				}
				.x-row.top-on-medium {
								-ms-flex-align: start;
								-ms-grid-row-align: flex-start;
								align-items: flex-start
				}
				.x-row.center-on-medium {
								-ms-flex-align: center;
								-ms-grid-row-align: center;
								align-items: center
				}
				.x-row.bottom-on-medium {
								-ms-flex-align: end;
								-ms-grid-row-align: flex-end;
								align-items: flex-end
				}
				.x-row.ltr-on-medium {
								-ms-flex-direction: row;
								flex-direction: row
				}
				.x-row.rtl-on-medium {
								-ms-flex-direction: row-reverse;
								flex-direction: row-reverse
				}
}
@media (min-width:1024px) {
				.x-row.flex-on-large {
								display: -ms-flexbox;
								display: flex
				}
				.x-row.block-on-large {
								display: block
				}
				.x-row.stretch-on-large {
								-ms-flex-align: stretch;
								-ms-grid-row-align: stretch;
								align-items: stretch
				}
				.x-row.top-on-large {
								-ms-flex-align: start;
								-ms-grid-row-align: flex-start;
								align-items: flex-start
				}
				.x-row.center-on-large {
								-ms-flex-align: center;
								-ms-grid-row-align: center;
								align-items: center
				}
				.x-row.bottom-on-large {
								-ms-flex-align: end;
								-ms-grid-row-align: flex-end;
								align-items: flex-end
				}
				.x-row.ltr-on-large {
								-ms-flex-direction: row;
								flex-direction: row
				}
				.x-row.rtl-on-large {
								-ms-flex-direction: row-reverse;
								flex-direction: row-reverse
				}
}
.x-row .x-row {
				margin: 0 -.9rem;
				width: auto;
				max-width: none
}
.x-row .x-col {
				float: left;
				position: relative;
				box-sizing: border-box;
				padding: 0 .9rem;
				width: 100%
}
.x-row .x-col:last-child {
				float: right
}
.x-row .x-col:first-child:last-child {
				float: left
}
@media (min-width:0px) {
				.x-row .x-col.small-1 {
								width: 8.33333%
				}
				.x-row .x-col.small-offset-1 {
								margin-left: 8.33333%
				}
				.x-row .x-col.small-pull-1 {
								left: auto;
								right: 8.33333%
				}
				.x-row .x-col.small-push-1 {
								right: auto;
								left: 8.33333%
				}
				.x-row .x-col.small-2 {
								width: 16.66667%
				}
				.x-row .x-col.small-offset-2 {
								margin-left: 16.66667%
				}
				.x-row .x-col.small-pull-2 {
								left: auto;
								right: 16.66667%
				}
				.x-row .x-col.small-push-2 {
								right: auto;
								left: 16.66667%
				}
				.x-row .x-col.small-3 {
								width: 25%
				}
				.x-row .x-col.small-offset-3 {
								margin-left: 25%
				}
				.x-row .x-col.small-pull-3 {
								left: auto;
								right: 25%
				}
				.x-row .x-col.small-push-3 {
								right: auto;
								left: 25%
				}
				.x-row .x-col.small-4 {
								width: 33.33333%
				}
				.x-row .x-col.small-offset-4 {
								margin-left: 33.33333%
				}
				.x-row .x-col.small-pull-4 {
								left: auto;
								right: 33.33333%
				}
				.x-row .x-col.small-push-4 {
								right: auto;
								left: 33.33333%
				}
				.x-row .x-col.small-5 {
								width: 41.66667%
				}
				.x-row .x-col.small-offset-5 {
								margin-left: 41.66667%
				}
				.x-row .x-col.small-pull-5 {
								left: auto;
								right: 41.66667%
				}
				.x-row .x-col.small-push-5 {
								right: auto;
								left: 41.66667%
				}
				.x-row .x-col.small-6 {
								width: 50%
				}
				.x-row .x-col.small-offset-6 {
								margin-left: 50%
				}
				.x-row .x-col.small-pull-6 {
								left: auto;
								right: 50%
				}
				.x-row .x-col.small-push-6 {
								right: auto;
								left: 50%
				}
				.x-row .x-col.small-7 {
								width: 58.33333%
				}
				.x-row .x-col.small-offset-7 {
								margin-left: 58.33333%
				}
				.x-row .x-col.small-pull-7 {
								left: auto;
								right: 58.33333%
				}
				.x-row .x-col.small-push-7 {
								right: auto;
								left: 58.33333%
				}
				.x-row .x-col.small-8 {
								width: 66.66667%
				}
				.x-row .x-col.small-offset-8 {
								margin-left: 66.66667%
				}
				.x-row .x-col.small-pull-8 {
								left: auto;
								right: 66.66667%
				}
				.x-row .x-col.small-push-8 {
								right: auto;
								left: 66.66667%
				}
				.x-row .x-col.small-9 {
								width: 75%
				}
				.x-row .x-col.small-offset-9 {
								margin-left: 75%
				}
				.x-row .x-col.small-pull-9 {
								left: auto;
								right: 75%
				}
				.x-row .x-col.small-push-9 {
								right: auto;
								left: 75%
				}
				.x-row .x-col.small-10 {
								width: 83.33333%
				}
				.x-row .x-col.small-offset-10 {
								margin-left: 83.33333%
				}
				.x-row .x-col.small-pull-10 {
								left: auto;
								right: 83.33333%
				}
				.x-row .x-col.small-push-10 {
								right: auto;
								left: 83.33333%
				}
				.x-row .x-col.small-11 {
								width: 91.66667%
				}
				.x-row .x-col.small-offset-11 {
								margin-left: 91.66667%
				}
				.x-row .x-col.small-pull-11 {
								left: auto;
								right: 91.66667%
				}
				.x-row .x-col.small-push-11 {
								right: auto;
								left: 91.66667%
				}
				.x-row .x-col.small-12 {
								width: 100%
				}
				.x-row .x-col.small-offset-12 {
								margin-left: 100%
				}
				.x-row .x-col.small-pull-12 {
								left: auto;
								right: 100%
				}
				.x-row .x-col.small-push-12 {
								right: auto;
								left: 100%
				}
				.x-row .x-col.hide-on-small {
								display: none
				}
				.x-row .x-col.show-on-small {
								display: block
				}
}
@media (min-width:640px) {
				.x-row .x-col.medium-1 {
								width: 8.33333%
				}
				.x-row .x-col.medium-offset-1 {
								margin-left: 8.33333%
				}
				.x-row .x-col.medium-pull-1 {
								left: auto;
								right: 8.33333%
				}
				.x-row .x-col.medium-push-1 {
								right: auto;
								left: 8.33333%
				}
				.x-row .x-col.medium-2 {
								width: 16.66667%
				}
				.x-row .x-col.medium-offset-2 {
								margin-left: 16.66667%
				}
				.x-row .x-col.medium-pull-2 {
								left: auto;
								right: 16.66667%
				}
				.x-row .x-col.medium-push-2 {
								right: auto;
								left: 16.66667%
				}
				.x-row .x-col.medium-3 {
								width: 25%
				}
				.x-row .x-col.medium-offset-3 {
								margin-left: 25%
				}
				.x-row .x-col.medium-pull-3 {
								left: auto;
								right: 25%
				}
				.x-row .x-col.medium-push-3 {
								right: auto;
								left: 25%
				}
				.x-row .x-col.medium-4 {
								width: 33.33333%
				}
				.x-row .x-col.medium-offset-4 {
								margin-left: 33.33333%
				}
				.x-row .x-col.medium-pull-4 {
								left: auto;
								right: 33.33333%
				}
				.x-row .x-col.medium-push-4 {
								right: auto;
								left: 33.33333%
				}
				.x-row .x-col.medium-5 {
								width: 41.66667%
				}
				.x-row .x-col.medium-offset-5 {
								margin-left: 41.66667%
				}
				.x-row .x-col.medium-pull-5 {
								left: auto;
								right: 41.66667%
				}
				.x-row .x-col.medium-push-5 {
								right: auto;
								left: 41.66667%
				}
				.x-row .x-col.medium-6 {
								width: 50%
				}
				.x-row .x-col.medium-offset-6 {
								margin-left: 50%
				}
				.x-row .x-col.medium-pull-6 {
								left: auto;
								right: 50%
				}
				.x-row .x-col.medium-push-6 {
								right: auto;
								left: 50%
				}
				.x-row .x-col.medium-7 {
								width: 58.33333%
				}
				.x-row .x-col.medium-offset-7 {
								margin-left: 58.33333%
				}
				.x-row .x-col.medium-pull-7 {
								left: auto;
								right: 58.33333%
				}
				.x-row .x-col.medium-push-7 {
								right: auto;
								left: 58.33333%
				}
				.x-row .x-col.medium-8 {
								width: 66.66667%
				}
				.x-row .x-col.medium-offset-8 {
								margin-left: 66.66667%
				}
				.x-row .x-col.medium-pull-8 {
								left: auto;
								right: 66.66667%
				}
				.x-row .x-col.medium-push-8 {
								right: auto;
								left: 66.66667%
				}
				.x-row .x-col.medium-9 {
								width: 75%
				}
				.x-row .x-col.medium-offset-9 {
								margin-left: 75%
				}
				.x-row .x-col.medium-pull-9 {
								left: auto;
								right: 75%
				}
				.x-row .x-col.medium-push-9 {
								right: auto;
								left: 75%
				}
				.x-row .x-col.medium-10 {
								width: 83.33333%
				}
				.x-row .x-col.medium-offset-10 {
								margin-left: 83.33333%
				}
				.x-row .x-col.medium-pull-10 {
								left: auto;
								right: 83.33333%
				}
				.x-row .x-col.medium-push-10 {
								right: auto;
								left: 83.33333%
				}
				.x-row .x-col.medium-11 {
								width: 91.66667%
				}
				.x-row .x-col.medium-offset-11 {
								margin-left: 91.66667%
				}
				.x-row .x-col.medium-pull-11 {
								left: auto;
								right: 91.66667%
				}
				.x-row .x-col.medium-push-11 {
								right: auto;
								left: 91.66667%
				}
				.x-row .x-col.medium-12 {
								width: 100%
				}
				.x-row .x-col.medium-offset-12 {
								margin-left: 100%
				}
				.x-row .x-col.medium-pull-12 {
								left: auto;
								right: 100%
				}
				.x-row .x-col.medium-push-12 {
								right: auto;
								left: 100%
				}
				.x-row .x-col.hide-on-medium {
								display: none
				}
				.x-row .x-col.show-on-medium {
								display: block
				}
}
@media (min-width:1024px) {
				.x-row .x-col.large-1 {
								width: 8.33333%
				}
				.x-row .x-col.large-offset-1 {
								margin-left: 8.33333%
				}
				.x-row .x-col.large-pull-1 {
								left: auto;
								right: 8.33333%
				}
				.x-row .x-col.large-push-1 {
								right: auto;
								left: 8.33333%
				}
				.x-row .x-col.large-2 {
								width: 16.66667%
				}
				.x-row .x-col.large-offset-2 {
								margin-left: 16.66667%
				}
				.x-row .x-col.large-pull-2 {
								left: auto;
								right: 16.66667%
				}
				.x-row .x-col.large-push-2 {
								right: auto;
								left: 16.66667%
				}
				.x-row .x-col.large-3 {
								width: 25%
				}
				.x-row .x-col.large-offset-3 {
								margin-left: 25%
				}
				.x-row .x-col.large-pull-3 {
								left: auto;
								right: 25%
				}
				.x-row .x-col.large-push-3 {
								right: auto;
								left: 25%
				}
				.x-row .x-col.large-4 {
								width: 33.33333%
				}
				.x-row .x-col.large-offset-4 {
								margin-left: 33.33333%
				}
				.x-row .x-col.large-pull-4 {
								left: auto;
								right: 33.33333%
				}
				.x-row .x-col.large-push-4 {
								right: auto;
								left: 33.33333%
				}
				.x-row .x-col.large-5 {
								width: 41.66667%
				}
				.x-row .x-col.large-offset-5 {
								margin-left: 41.66667%
				}
				.x-row .x-col.large-pull-5 {
								left: auto;
								right: 41.66667%
				}
				.x-row .x-col.large-push-5 {
								right: auto;
								left: 41.66667%
				}
				.x-row .x-col.large-6 {
								width: 50%
				}
				.x-row .x-col.large-offset-6 {
								margin-left: 50%
				}
				.x-row .x-col.large-pull-6 {
								left: auto;
								right: 50%
				}
				.x-row .x-col.large-push-6 {
								right: auto;
								left: 50%
				}
				.x-row .x-col.large-7 {
								width: 58.33333%
				}
				.x-row .x-col.large-offset-7 {
								margin-left: 58.33333%
				}
				.x-row .x-col.large-pull-7 {
								left: auto;
								right: 58.33333%
				}
				.x-row .x-col.large-push-7 {
								right: auto;
								left: 58.33333%
				}
				.x-row .x-col.large-8 {
								width: 66.66667%
				}
				.x-row .x-col.large-offset-8 {
								margin-left: 66.66667%
				}
				.x-row .x-col.large-pull-8 {
								left: auto;
								right: 66.66667%
				}
				.x-row .x-col.large-push-8 {
								right: auto;
								left: 66.66667%
				}
				.x-row .x-col.large-9 {
								width: 75%
				}
				.x-row .x-col.large-offset-9 {
								margin-left: 75%
				}
				.x-row .x-col.large-pull-9 {
								left: auto;
								right: 75%
				}
				.x-row .x-col.large-push-9 {
								right: auto;
								left: 75%
				}
				.x-row .x-col.large-10 {
								width: 83.33333%
				}
				.x-row .x-col.large-offset-10 {
								margin-left: 83.33333%
				}
				.x-row .x-col.large-pull-10 {
								left: auto;
								right: 83.33333%
				}
				.x-row .x-col.large-push-10 {
								right: auto;
								left: 83.33333%
				}
				.x-row .x-col.large-11 {
								width: 91.66667%
				}
				.x-row .x-col.large-offset-11 {
								margin-left: 91.66667%
				}
				.x-row .x-col.large-pull-11 {
								left: auto;
								right: 91.66667%
				}
				.x-row .x-col.large-push-11 {
								right: auto;
								left: 91.66667%
				}
				.x-row .x-col.large-12 {
								width: 100%
				}
				.x-row .x-col.large-offset-12 {
								margin-left: 100%
				}
				.x-row .x-col.large-pull-12 {
								left: auto;
								right: 100%
				}
				.x-row .x-col.large-push-12 {
								right: auto;
								left: 100%
				}
				.x-row .x-col.hide-on-large {
								display: none
				}
				.x-row .x-col.show-on-large {
								display: block
				}
}


.x-col + .x-col.end, .x-cols + .x-col.end, .x-col + .x-cols.end, .x-cols +.x-cols.end {
	float: left;
}

.x-row {
	max-width: 100%;
}
